@model MVC.Models.EngEstViewModel;

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdTranslation)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


    </tbody>
</table>
